[Desktop Entry]
Type=Application
Name=Microsoft Excel
MimeType=text/x-ms-iqy;
Exec=env WINEPREFIX="/home/aka/.PlayOnLinux//wineprefix/Office2010" wine start /ProgIDOpen iqyfile %f
NoDisplay=true
StartupNotify=true
Icon=4715_EXCEL.0
