[Desktop Entry]
Type=Application
Name=Microsoft Word
MimeType=application/rtf;
Exec=env WINEPREFIX="/home/aka/.PlayOnLinux//wineprefix/Office2010" wine start /ProgIDOpen Word.RTF.8 %f
NoDisplay=true
StartupNotify=true
Icon=29F5_WINWORD.0
