[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
MimeType=application/vnd.openxmlformats-officedocument.presentationml.slide;
Exec=env WINEPREFIX="/home/aka/.PlayOnLinux//wineprefix/Office2010" wine start /ProgIDOpen PowerPoint.Slide.12 %f
NoDisplay=true
StartupNotify=true
Icon=0C19_POWERPNT.0
