[Desktop Entry]
Type=Application
Name=Microsoft Excel
MimeType=text/csv;
Exec=env WINEPREFIX="/home/aka/.PlayOnLinux//wineprefix/Office2010" wine start /ProgIDOpen Excel.CSV %f
NoDisplay=true
StartupNotify=true
Icon=850A_EXCEL.0
