[Desktop Entry]
Type=Application
Name=XML Editor
MimeType=application/xml;
Exec=env WINEPREFIX="/home/aka/.PlayOnLinux//wineprefix/Office2010" wine start /ProgIDOpen xmlfile %f
NoDisplay=true
StartupNotify=true
Icon=4E82_MSOXMLED.0
